<div class="header">
  <pop-app-info [numOfUsers]="coords.length"></pop-app-info>
  <form [formGroup]="form" class="dropdownselector">
    <label for="users">Tracked user: </label>
    <select formControlName="selected" id="users" >
      <option *ngFor="let user of users" [value]="user.id">
        {{user.login}}
      </option>
    </select>
  </form>
  <button class="btnShow" (click)="showName()">{{buttonName}}</button>
</div>
<agm-map *ngIf="forCenter.length > 0" [latitude]="forCenter[0].lat" [longitude]= "forCenter[0].lng" [zoom]="16">
  <ng-container *ngIf="ShowNames">
    <agm-marker [latitude]="i.lat" [longitude]="i.lng" [iconUrl]= "url"
                [label]="{color: 'blue', text: labels[ind].login, fontWeight: 'bold'}"
                [markerClickable]="false"
                *ngFor="let i of filteredUsers; let ind = index"
    ></agm-marker>
  </ng-container>
  <ng-container *ngIf="!ShowNames">
    <agm-marker [latitude]="i.lat" [longitude]="i.lng" [iconUrl]= "url"
                [markerClickable]="false"
                *ngFor="let i of filteredUsers;"
    ></agm-marker>
  </ng-container>
</agm-map>
